/* ELEMENTI NON BOOTSTRAP */

/* STRUTTURA */
header {
    background-color: white;
    height: 70px;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    box-shadow: rgba(0,0,0, 0.5);
}
.page-container {
    height: calc(100vh - 70px);
    display: flex;
}
aside {
    width: 70px;
    color: white;
    background-color: #051e34;
    flex-shrink: 0;
}
main {
    flex-grow: 1;
    overflow-y: auto;
}
/* MEDIA QUERY */
@media screen and (min-width: 992px) {
    header {
        height: 130px;
    }
    .page-container {
    height: calc(100vh - 130px);
        
    }
    aside {
        width: 270px;
    }
    main {

    }
}
/* /MEDIA QUERY */


/* BUTTON */
aside button {
    color: white;
    border: none;
    background-color: transparent;
}
/* /BUTTON */

/* HEADER ELEMENTS */
header .container-fluid {
    height: 70px;
}
header .logo-mobile img {
  width: 40px; 
  display: block; 
    
}
header .logo-desktop img {
    width: 250px;
}
/* MEDIA QUERY */
@media screen and (min-width: 992px) {
    header .container-fluid {
        height: 130px;
    }

}
/* /MEDIA QUERY */

/* /HEADER ELEMENTS */

/* MAIN ELEMENTS */
.main-top {
    color: white;
    background-color: #1c72e8;
}
.main-top .last-visited-number {
    font-size: 30px;
}
/* MEDIA QUERY */
@media screen and (min-width: 992px) {


}
/* /MEDIA QUERY */
/* /MAIN ELEMENTS */

/* /ELEMENTI NON BOOTSTRAP */
