/* ELEMENTI NON BOOTSTRAP */

/* STRUTTURA */
header {
    background-color: white;
    height: 70px;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    box-shadow: rgba(0,0,0, 0.5);
}
.page-container {
    height: calc(100vh - 70px);
    display: flex;
}
aside {
    width: 70px;
    color: white;
    background-color: #051e34;
    flex-shrink: 0;
}
main {
    flex-grow: 1;
    overflow-y: auto;
}
/* MEDIA QUERY */
@media screen and (min-width: 992px) {
    header {
        height: 100px;
    }
    .page-container {
    height: calc(100vh - 100px);
        
    }
    aside {
        width: 270px;
    }
    main {

    }
}
/* /MEDIA QUERY */


/* BUTTON */
aside button {
    color: white;
    border: none;
    background-color: transparent;
}
/* /BUTTON */

/* COMMON */
nav ul {
    margin: 0;
    padding: 0;
}
.bg-lightgray {
    background-color: #e5e5e5;
}
.rounded {
    border-radius: 25px;
}
.fluid-width {
    width: 100%;
}
.fluid-height {
    height: 100%;
}
/* /COMMON */

/* HEADER ELEMENTS */
header .container-fluid {
    height: 70px;
}
header .logo-mobile img {
  width: 40px; 
  display: block; 
}
header .logo-desktop img {
    width: 100%;
    max-width: 230px;
}
header [class*="col-"] > {
    width: 100%;
}
header .container .form-control {
    background-color: #e5e5e5;
    border: none;
    width: 100%;
}
header .navbar form {
    width: 100%;
}
header .navbar .container{
    margin-left: 0;
}
.dropdown i {
    color: #ff8f00;
}
.nav-right i {
    color: #051e34;
}
/* MEDIA QUERY */
@media screen and (min-width: 992px) {
    header .container-fluid {
        height: 100px;
    }

}
/* /MEDIA QUERY */

/* /HEADER ELEMENTS */

/* PAGE-CONTAINER ELEMENTS */
aside .col-12 {
    font-size: 25px;
}
aside .col-12 > * {
    padding: 5px 0;
}
aside .col-12 i{
    width: 20px;
    margin-right: 20px;
}
/* /PAGE-CONTAINER ELEMENTS */


/* MAIN ELEMENTS */
.main-top {
    color: white;
    background-color: #1c72e8;
}

.main-top .last-visited-number {
    font-size: 30px;
}
.card-header .card-title {
    font-size: 30px;
}
.main-top .text-bg-primary {
    background-color: #155cbf !important;
}
.main-top .badge {
    font-weight: 400;
    height: fit-content;
    border-radius: 30px;
}
aside .signals button {
    width: 10px;
} 

/* MEDIA QUERY */
@media screen and (min-width: 992px) {


}
/* /MEDIA QUERY */
/* /MAIN ELEMENTS */

/* /ELEMENTI NON BOOTSTRAP */
